In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import matplotlib as mpl

In [2]:
df=pd.read_csv('../../0 data preparation/All.csv')

### Category distribution of terpenoids

In [3]:
df_type=pd.read_csv('../../0 data preparation/All.csv',usecols=['ID','Type'])
df_type=df_type.drop_duplicates(subset='ID')
df_type.reset_index(drop=True,inplace=True)
df_type

             ID           Type
0     TPCN02029   Diterpenoids
1     TPCN02063   Diterpenoids
2     TPCN02186   Diterpenoids
3     TPCN02187   Diterpenoids
4     TPCN02188   Diterpenoids
...         ...            ...
6378  TPCN06379  Triterpenoids
6379  TPCN06380  Triterpenoids
6380  TPCN06381  Triterpenoids
6381  TPCN06382  Triterpenoids
6382  TPCN06383  Triterpenoids

[6383 rows x 2 columns]

In [4]:
type_list=['Monoterpenoids','Sesquiterpenoids','Diterpenoids','Triterpenoids']
data=[]
for i in type_list:
    compounds=df[df['Type']==i]
    compounds_unique=compounds.drop_duplicates(subset='ID')
    percentages=round(len(compounds_unique)/len(df.drop_duplicates(subset='ID'))*100,2)
    min_content=min(compounds['Content(%)'])
    max_content=max(compounds['Content(%)'])
    data.append((i,len(compounds_unique),percentages,str(min_content)+'~'+str(max_content)))
data=pd.DataFrame(data,columns=['Category','Counts','Percentages(%)','Content(%)'])
data

           Category  Counts  Percentages(%)      Content(%)
0    Monoterpenoids     830           13.00  1e-06~0.461538
1  Sesquiterpenoids    1346           21.09       1e-06~1.0
2      Diterpenoids    1351           21.17  2e-06~2.522321
3     Triterpenoids    2856           44.74  3e-06~3.744898

### Compound quantity and content range

In [5]:
print('All: '+str(len(df.drop_duplicates(subset='ID'))))
print('Content(%): '+str(min(df['Content(%)']))+'~'+str(max(df['Content(%)'])))

All: 6383
Content(%): 1e-06~3.744898